matplotlib==3.9.4
numpy==1.26.4
opencv-python-headless==3.4.18.65
pandas==2.3.0
pdf2image==1.17.0
pillow==10.4.0
plotly==6.1.2
protobuf==4.25.8
pyarrow==20.0.0
PyMuPDF==1.26.1
scikit-learn==1.6.1
scipy==1.13.1
segment-anything==1.0
streamlit==1.29.0
streamlit-drawable-canvas==0.8.0
streamlit-image-coordinates==0.2.2
torch==2.2.2
torchvision==0.17.2
